In [6]:
from pyspark.sql.functions import hour,minute,second,col,avg,when
from pyspark.sql import SQLContext
import pyspark.sql.functions as sql_functions
sqlContext = SQLContext(sc)

In [7]:
df = sqlContext.read.csv("file:///home/hadoopuser/Downloads/sample1.txt",header = True, inferSchema = True)

In [8]:
#performaing Action
df.show(2)

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|  John| 20000|
|  2|Jadhav| 25000|
+---+------+------+
only showing top 2 rows

In [9]:
#Counting total people 
df1 = df.select('name').count()
df1

4

In [10]:
df.groupBy("name").sum("salary").show()

+-------+-----------+
|   name|sum(salary)|
+-------+-----------+
| Jeevan|      35000|
|   John|      20000|
|Johnson|      30000|
| Jadhav|      25000|
+-------+-----------+

In [15]:
#To display names whose salary is greater than 20K
df.filter(df['salary'] > 20000).select('name').show()

+-------+
|   name|
+-------+
| Jadhav|
|Johnson|
| Jeevan|
+-------+

In [30]:
#finding the maximum salary 
df.groupby().max('salary').first().asDict()['max(salary)']

35000

In [34]:
#Minimum value
df.registerTempTable("df_table")
spark.sql("SELECT MIN(salary) as maxsal FROM df_table").first().asDict()['maxsal']

20000

In [36]:
df.describe().show()

+-------+------------------+-------+-----------------+
|summary|                id|   name|           salary|
+-------+------------------+-------+-----------------+
|  count|                 4|      4|                4|
|   mean|               2.5|   null|          27500.0|
| stddev|1.2909944487358056|   null|6454.972243679028|
|    min|                 1| Jadhav|            20000|
|    max|                 4|Johnson|            35000|
+-------+------------------+-------+-----------------+

In [37]:
#Finding average salary
spark.sql("SELECT AVG(salary) as avgsal FROM df_table").first().asDict()['avgsal']

27500.0